/* style sheet */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
   background-color: navajowhite; 
   width: 950px;
   padding: 30px 20px 20px 20px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

.row1, .row2, .row3 {
    display: flex;
}

.row1 {
    background-color: mediumseagreen;
}

.row2 {
    background-color: midnightblue;
}

.row3 {
    background-color: chocolate;
}

.block {
    justify-content: center;
}

img {
    width: 200px;
}
