/* style sheet */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
}

.container {
   background-color: grey; 
}

.row {
    display: flex;
}

.block {

}