/* style sheet */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
   background-color: grey; 
   width: 950px;
}

h1 {
    font-family: sans-serif;
}

.row1, .row2, .row3 {
    display: flex;
}

.block {
    justify-content: center;
}

img {
    width: 200px;
}
